//- Dashboard Page Template 
extends layout

block content
  .dashboard-container
    h1 Bienvenue sur l'intranet
    p.subtitle La plate-forme de l'entreprise qui vous permet de retrouver tous vos collaborateurs.
    
    h2 Avez-vous dit bonjour à :
    
    .collaborateur-card
      img.profile-img(src=randomUser.photo alt=`Photo de ${randomUser.firstname} ${randomUser.lastname}`)
      .collaborateur-info
        .header-info
          h3 #{randomUser.firstname} #{randomUser.lastname}
          span.age (#{display.age} ans)
          span.badge(class=`badge-${randomUser.category.toLowerCase()}`) #{randomUser.category}
        
        .location
          i.fas.fa-map-marker-alt
          |  #{randomUser.city}, #{randomUser.country}
        
        .contact-info
          p
            i.fas.fa-envelope
            a(href=`mailto:${randomUser.email}`)  #{randomUser.email}
          p
            i.fas.fa-phone
            a(href=`tel:${randomUser.phone}`)  #{randomUser.phone}
          p
            i.fas.fa-birthday-cake
            |  Anniversaire : #{display.birthday}
    
    a.btn-primary(href="/dashboard") Dire bonjour à quelqu'un d'autre 