//- Dashboard Page Template 
extends layout

block content
  .dashboard-container
    h1 Bienvenue sur l'intranet
    p.subtitle La plate-forme de l'entreprise qui vous permet de retrouver tous vos collaborateurs.
    
    h2 Avez-vous dit bonjour à :
    
    if randomUser
      .collaborateur-card
        img.profile-img(src=randomUser.photo alt=`Photo de ${randomUser.firstname} ${randomUser.lastname}`)
        .collaborateur-info
          .header-info
            h3 #{randomUser.firstname} #{randomUser.lastname}
            if display && display.age
              span.age (#{display.age} ans)
            if randomUser.category
              span.badge(class=`badge-${randomUser.category.toLowerCase()}`) #{randomUser.category}
          
          .location
            i.fas.fa-map-marker-alt
            |  #{randomUser.city || 'Ville non spécifiée'}, #{randomUser.country || 'Pays non spécifié'}
          
          .contact-info
            if randomUser.email
              p
                i.fas.fa-envelope
                a(href=`mailto:${randomUser.email}`)  #{randomUser.email}
            if randomUser.phone
              p
                i.fas.fa-phone
                a(href=`tel:${randomUser.phone}`)  #{randomUser.phone}
            if display && display.birthday
              p
                i.fas.fa-birthday-cake
                |  Anniversaire : #{display.birthday}
    else
      .alert.alert-info
        | Aucun collaborateur disponible pour le moment.
    
    a.btn-primary(href="/dashboard") Dire bonjour à quelqu'un d'autre 